@font-face {
	font-family: 'social_icons';
	src:url('socials_3/citylax.eot');
	src:url('socials_3/citylax.eot?#iefix') format('embedded-opentype'),
		url('socials_3/citylax.woff') format('woff'),
		url('socials_3/citylax.ttf') format('truetype'),
		url('socials_3/citylax.svg#citylax') format('svg');
	font-weight: normal;
	font-style: normal;
}
