.people_home
	position: relative
	width: 100%
	height: auto
	header
		background: $bg_gray
		position: relative
		color: $black
		text-align: center
		min-height: 20%
		height: 20%
		padding: 40px 0
		margin:
			top: 75px
		&:before
			content: ''
			display: inline-block
			height: 100%
			vertical-align: middle
			margin-right: -0.25em
		.container
			width: 90%
			max-width: 900px
			display: inline-block
			vertical-align: middle
			h1
				font-size: 40px
				text-transform: none
				line-height: 44px
				text-transform: uppercase
				@media (max-width: 800px)
					font-size: 24px
					line-height: 30px
			p
				margin:
					top: 15px
		@media only screen and (min-width: 320px) and (max-width: 768px)
			min-height: 27%
			height: 27%
			padding: 20px 0
	.people_boxes
		position: relative
		article
			width: 33.33333333333333%
			float: left
			height: 700px
			position: relative
			@media only screen and (min-width: 320px) and (max-width: 768px)
				width: 100%
				height: 400px
				max-height: 350px
			a
				width: 100%
				height: 100%
				position: absolute
				background: rgba(0,0,0,.3)
				@include transition (background .3s ease)
				&:hover
					background: transparent
				&:before
					content: ''
					display: inline-block
					height: 100%
					vertical-align: middle
					margin-right: -0.25em
				div
					display: inline-block
					width: 80%
					margin: 0 auto
					margin:
						left: 10%	
					@media only screen and (min-width: 320px) and (max-width: 768px)
						vertical-align: middle		
					h3
						font-size: 30px
						margin:
							bottom: 10px
						border:
							bottom: 4px solid $citylax_blue
		.faculty
			background: url(../img/faculty_bg.jpg) no-repeat center center
			-webkit-background-size: cover
			-moz-background-size: cover
			-o-background-size: cover
			background-size: cover
			@media only screen and (min-width: 320px) and (max-width: 768px)
				background-position: top
		.alumni
			background: url(../img/alumni_bg.jpg) no-repeat center center
			-webkit-background-size: cover
			-moz-background-size: cover
			-o-background-size: cover
			background-size: cover
			@media only screen and (min-width: 320px) and (max-width: 768px)
				background-position: top
		.students
			background: url(../img/students_bg3.jpg) no-repeat center center
			-webkit-background-size: cover
			-moz-background-size: cover
			-o-background-size: cover
			background-size: cover
			@media only screen and (min-width: 320px) and (max-width: 768px)
				background-position: top
.no-rgba .people_boxes a
	background: url(../img/ie_trans_black.png) repeat
	width: 100%
	height: 100%
	position: absolute
.faculty_home
	position: relative
	width: 100%
	height: auto
	background: $white
	padding:
		bottom: 100px
		top: 75px
	.people_subnav
		width: 100%
		background: $citylax_blue
		ul
			padding: 10px 0
			text-align: center
			text-transform: uppercase
			font-size: 14px
			font-weight: 700
			li
				display: inline
				margin:
					right: 20%
				@media only screen and (max-width: 500px)
					display: inline
					margin:
						right: 15%
				a
					color: $black
					&:hover
						color: $white
			.last
				margin: 0
			.active
				color: $white
	.interior_header
		min-height: 20%
		height: 250px
		padding: 30px 0
		background-size: cover
		text-align: center
		margin: 0 auto
		@media (max-width: 700px)
			height: 200px
		.container
			max-width: 1170px
			h1
				color: $white
				font-size: 50px
				text-transform: uppercase
				text-align: left
				line-height: 52px
				@media (max-width: 700px)
					font-size: 30px
					line-height: 34px
	#faculty_header
		background: url(../img/faculty_header2.jpg) no-repeat center center
		-webkit-background-size: cover
		-moz-background-size: cover
		-o-background-size: cover
		background-size: cover
	.faculty_stories
		position: relative
		article	
			width: 33.33333333333333%
			float: left
			height: 400px
			position: relative
			background: $white
			min-height: 30%
			overflow: hidden
			@media (max-width: 1100px)
				width: 50%
			@media (max-width: 700px)
				width: 100%
			a
				width: 100%
				height: 100%
				position: absolute
				@include transition (none)
				background: none
				color: $black	
				&:hover
					background: $black
					color: $white
					.read_more	
						line-height: 65px
						@include background-image (linear-gradient(to bottom, $black_trans, $black))
					.read_btn
						bottom: 0
				div
					vertical-align: top
					padding: 30px 0
					width: 80%
					margin: 0 auto
					margin:
						left: 10%
					h3
						font-size: 30px
						line-height: 32px
						margin:
							bottom: 30px
						padding:
							bottom: 20px
						border:
							bottom: 4px solid $citylax_blue
					.read_more
						position: absolute
						bottom: 0
						left: 0
						width: 100%
						text-align: center
						margin: 0
						padding: 20px 0
						@include background-image (linear-gradient(to bottom, $full_trans, $trans_white))
					.read_btn
						position: absolute
						bottom: -100%
						width: 100%
						left: 0
						text-align: center
						background: $citylax_blue
						color: $white
						padding: 10px 0
						@include transition (bottom .25s)
						span
							color: $black
							font-weight: 700
	.campaign_boxes
		position: relative
		padding-bottom: 200px
		@media only screen and (min-width: 320px) and (max-width: 768px)
			padding-bottom: 20px
		article	
			width: 33.33333333333333%
			float: left
			height: auto
			position: relative
			background: $white
			color: $black
			min-height: 30%
			overflow: hidden
			@media (max-width: 1100px)
				width: 50%
			@media (max-width: 700px)
				width: 100%	
			a
				color: $black
				text-decoration: underline
			&:hover
				background: $black
				color: $white	
				a
					color: $citylax_blue		
			div
				vertical-align: top
				padding: 30px 0
				width: 80%
				margin: 0 auto
				margin:
					left: 10%
				h3
					font-size: 30px
					line-height: 32px
					margin:
						bottom: 30px
					padding:
						bottom: 20px
					border:
						bottom: 4px solid $citylax_blue
				ul
					line-height: 1.3em
					li
						list-style: none
						padding: 15px 0
						list-style-position: inside
						h4
							font-size: 18px
							line-height: 32px
							text-transform: uppercase
	#campaign_header
		background: url(../img/campaign_header.jpg) no-repeat center center
		-webkit-background-size: cover
		-moz-background-size: cover
		-o-background-size: cover
		background-size: cover
		h1, p
			text-align: center
			color: $white
	#alumni_header
		background: url(../img/alumni_header2.jpg) no-repeat center center
		-webkit-background-size: cover
		-moz-background-size: cover
		-o-background-size: cover
		background-size: cover
	#students_header
		background: url(../img/students_header.jpg) no-repeat center center
		-webkit-background-size: cover
		-moz-background-size: cover
		-o-background-size: cover
		background-size: cover
		@media only screen and (max-width: 700px)
			height: 250px
		p
			color: $white
			font-size: 16px
			text-align: left
			a
				text-decoration: underline
			@media only screen and (min-width: 320px) and (max-width: 768px)
				font-size: 14px
	.student_profiles
		position: relative
		article	
			width: 33.33333333333333%
			float: left
			height: 400px
			position: relative
			background: $white
			min-height: 30%
			overflow: hidden
			@media (max-width: 1100px)
				width: 50%
			@media (max-width: 700px)
				width: 100%
			a
				width: 100%
				height: 100%
				position: absolute
				@include transition (none)
				background: none
				color: $black	
				&:hover
					background: $black
					color: $white
					-webkit-background-size: cover !important
					-moz-background-size: cover !important
					-o-background-size: cover !important
					background-size: cover !important
					.read_more	
						line-height: 65px
						@include background-image (linear-gradient(to bottom, $black_trans, $black))
					.read_btn
						bottom: 0
					h5
						color: #fff
				div
					vertical-align: top
					padding: 5% 0
					width: 80%
					margin: 0 auto
					margin:
						left: 10%
					@include transition (padding .45s cubic-bezier(0.23, 1, 0.32, 1))
					h3
						font-size: 40px
						line-height: 44px
						text-transform: none
					i
						display: none
					h5
						font-size: 24px
						color: $citylax_blue
						line-height: 34px
						border:
							bottom: 4px solid $citylax_blue
						margin:
							bottom: 20px
					.read_btn
						position: absolute
						bottom: -100%
						width: 100%
						left: 0
						text-align: center
						background: $citylax_blue
						color: $white
						padding: 10px 0
						@include transition (bottom .25s)
						span
							color: $black
							font-weight: 700
			.natalia
				background: url(../img/natalia_gomezlandero.jpg) no-repeat -9999px -9999px
				&:hover
					background: url(../img/natalia_gomezlandero.jpg) no-repeat center center
					div
						padding:
							top: 45%
						p
							display: none
						i
							display: inline
			.tyghe
				background: url(../img/tyghe_worthman.jpg) no-repeat -9999px -9999px
				&:hover
					background: url(../img/tyghe_worthman.jpg) no-repeat center center
					div
						padding:
							top: 45%
						p
							display: none
						i
							display: inline
			.michelle
				background: url(../img/michelle_ghun.jpg) no-repeat -9999px -9999px
				&:hover
					background: url(../img/michelle_ghun.jpg) no-repeat center center
					div
						padding:
							top: 45%
						p
							display: none
						i
							display: inline
			.julia
				background: url(../img/julia_ausloos.jpg) no-repeat -9999px -9999px
				&:hover
					background: url(../img/julia_ausloos.jpg) no-repeat center center
					div
						padding:
							top: 45%
						p
							display: none
						i
							display: inline
			.ronson
				background: url(../img/ronson_fox.jpg) no-repeat -9999px -9999px
				&:hover
					background: url(../img/ronson_fox.jpg) no-repeat center center
					div
						padding:
							top: 45%
						p
							display: none
						i
							display: inline
			.lateefah
				background: url(../img/lateefah_young.jpg) no-repeat -9999px -9999px
				&:hover
					background: url(../img/lateefah_young.jpg) no-repeat center center
					div
						padding:
							top: 45%
						p
							display: none
						i
							display: inline
			.jordan
				background: url(../img/jordan_alvarez.jpg) no-repeat -9999px -9999px
				&:hover
					background: url(../img/jordan_alvarez.jpg) no-repeat center center
					div
						padding:
							top: 45%
						p
							display: none
						i
							display: inline
			.maxie
				background: url(../img/maxie_thao.jpg) no-repeat -9999px -9999px
				&:hover
					background: url(../img/maxie_thao.jpg) no-repeat center center
					div
						padding:
							top: 45%
						p
							display: none
						i
							display: inline
			.elmer
				background: url(../img/elmer_harris.jpg) no-repeat -9999px -9999px
				&:hover
					background: url(../img/elmer_harris.jpg) no-repeat center center
					div
						padding:
							top: 45%
						p
							display: none
						i
							display: inline
.ie8 header, .ie8 .people_boxes article
	background-size: cover
	-ms-behavior: url(backgroundsize.min.htc)
.ie8 .student_profiles article a:hover
	background-size: cover
	-ms-behavior: url(backgroundsize.min.htc)
.ie8 .home
	background-size: cover
	-ms-behavior: url(backgroundsize.min.htc)