@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Oswald);
/* colors */
/* media queries */
/* fonts */
@font-face {
  font-family: 'social_icons';
  src: url("socials_3/citylax.eot");
  src: url("socials_3/citylax.eot?#iefix") format("embedded-opentype"), url("socials_3/citylax.woff") format("woff"), url("socials_3/citylax.ttf") format("truetype"), url("socials_3/citylax.svg#citylax") format("svg");
  font-weight: normal;
  font-style: normal; }

/* HTML reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none; }

::-moz-selection {
  background: #958459;
  color: white;
  text-shadow: none; }

::selection {
  background: #958459;
  color: white;
  text-shadow: none; }

strong {
  font-weight: bold; }

* {
  margin: 0px; }

html, body {
  height: 100%;
  width: 100%;
  color: #999999;
  font-family: "Open Sans", sans-serif;
  background: white; }

.clearfix {
  zoom: 1;
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

p {
  line-height: 1.3em;
  margin: 15px 0;
  font-size: 14px; }

a {
  color: white;
  text-decoration: none; }

img {
  margin: 0 auto;
  display: block; }

h1, h2, h3, h4, h5 {
  font-family: "Oswald"; }

[data-icon]:before {
  font-family: "social_icons";
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 32px;
  margin: 15px 0;
  text-transform: uppercase;
  color: #888888; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    h1 {
      font-size: 30px; } }

h3 {
  font-size: 20px; }

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative; }
  .container .grid3, .container .grid4, .container .grid6, .container .grid8, .container .grid9 {
    float: left;
    margin: 0;
    padding: 0;
    position: relative; }
  .container .grid3 {
    width: 25%; }
  .container .grid4 {
    width: 33%; }
  .container .grid6 {
    width: 50%; }
  .container .grid8 {
    width: 66%; }
  .container .grid9 {
    width: 75%; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .container .grid3, .container .grid4, .container .grid6, .container .grid8, .container .grid9 {
      width: 100%; }
    .container .grid3 {
      width: 50%; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) and (max-width: 500px) {
      .container .grid3 {
        width: 100%; } }

.center {
  text-align: center; }

.btn {
  padding: 5px 15px;
  border: 2px solid #f87807;
  margin: 15px 0;
  display: inline-block;
  background: white;
  color: #f87807;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out; }
  .btn:hover {
    background: transparent;
    color: white; }

nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 105px;
  z-index: 99;
  font-family: "Roboto Condensed", sans-serif; }
  nav a.logo {
    position: absolute;
    top: 16px;
    left: 0;
    background: url(../img/citylax_logo.png) no-repeat;
    width: 250px;
    height: 84px;
    background-size: 250px 84px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      nav a.logo {
        top: 20px;
        width: 180px;
        height: 60px;
        background-size: 180px 60px;
        left: 20px; } }
  nav ul.main_nav {
    float: right;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 1px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      nav ul.main_nav {
        display: none;
        float: none;
        padding-top: 75px;
        z-index: 9999; } }
    nav ul.main_nav li {
      display: inline;
      margin: 0 4px;
      padding-right: 4px; }
      nav ul.main_nav li:after {
        content: "|";
        color: #508ac8; }
      nav ul.main_nav li a {
        color: black;
        line-height: 105px;
        text-decoration: none;
        font-size: 14px;
        padding-right: 15px;
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
        transition: color 0.5s; }
        nav ul.main_nav li a:hover {
          color: #508ac8; }
      @media only screen and (min-width: 320px) and (max-width: 768px) {
        nav ul.main_nav li {
          display: block;
          width: 100%;
          background: rgba(0, 0, 0, 0.8);
          text-align: center;
          margin: 0;
          border-bottom: 1px solid #508ac8; }
          nav ul.main_nav li:after {
            content: " "; }
          nav ul.main_nav li a {
            padding: 0;
            font-size: 14px;
            color: white;
            font-weight: 700;
            line-height: 30px; } }
      nav ul.main_nav li a.donate {
        background: #efefef;
        margin-right: 15px;
        padding: 5px 10px; }
        nav ul.main_nav li a.donate:hover {
          color: #f87807; }
        @media only screen and (min-width: 320px) and (max-width: 768px) {
          nav ul.main_nav li a.donate {
            background: transparent; } }
    nav ul.main_nav li.last a {
      padding-right: 0; }
    nav ul.main_nav li.last:after {
      content: " "; }
    nav ul.main_nav #active_nav a {
      color: #508ac8; }
  nav ul.nav-active {
    display: block; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    nav .nav_wrap {
      width: 100%; } }

.no-backgroundsize a.logo {
  position: absolute;
  top: 16px;
  left: 0;
  background: url(../img/citylax_logo_no_bg.png) no-repeat;
  width: 250px;
  height: 85px; }

.nav-mobile {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  background: white url(../img/nav.svg) no-repeat center center;
  height: 65px;
  width: 40px; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .nav-mobile {
      display: block; } }

.no-svg .nav-mobile {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  background: white url(../img/nav.png) no-repeat center center;
  height: 65px;
  width: 40px; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .no-svg .nav-mobile {
      display: block; } }

.nav-mobile-open {
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0; }

.body_wrap {
  position: relative;
  margin: 0 auto; }

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  height: auto;
  padding: 20px 0 10px;
  margin: 50px auto 0;
  position: relative; }
  footer .container {
    margin-top: 10px; }
    footer .container section h3 {
      color: white;
      margin-bottom: 10px; }
    footer .container section li {
      color: black;
      font-size: 13px; }
      footer .container section li a {
        color: black; }
  footer .social_footer {
    margin-top: 20px; }
    footer .social_footer li {
      display: inline;
      margin: 0 10px; }
      footer .social_footer li:first-child {
        margin-left: 0; }
      footer .social_footer li a:before {
        font-size: 24px; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    footer {
      position: relative;
      bottom: 0;
      height: auto; }
      footer .toggle_expand {
        display: none; }
      footer .container {
        padding: 30px 0;
        margin: 0 auto; }
        footer .container section {
          margin: 10px 0; } }
  footer p {
    font-size: 12px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 10px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      footer p {
        position: relative;
        margin: 50px 20px;
        width: auto; } }
  footer #mc_embed_signup {
    margin: 0 0 35px; }
    footer #mc_embed_signup h3 {
      color: white; }
    footer #mc_embed_signup form {
      margin-top: 23px;
      -moz-placeholder-color: black;
      -ms-input-placeholder-color: black; }
      footer #mc_embed_signup form input {
        width: 100%;
        padding: 10px 0;
        color: black;
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid black;
        text-align: center;
        font-family: "Source Sans Pro";
        font-size: 13px;
        display: inline;
        max-width: 400px; }
      footer #mc_embed_signup form ::-webkit-input-placeholder {
        color: black; }
      footer #mc_embed_signup form ::-moz-placeholder {
        color: black; }
      footer #mc_embed_signup form .submit {
        display: inline; }
        footer #mc_embed_signup form .submit .btn {
          padding: 10px 15px;
          background: #999999;
          border: 1px solid #333333;
          color: white;
          display: inline-block;
          text-transform: uppercase;
          font-size: 13px;
          letter-spacing: 2px;
          max-width: 110px; }
  footer .non_profit {
    text-align: center;
    font-size: 12px;
    margin: 0;
    color: black;
    padding-top: 20px;
    display: block;
    width: auto;
    margin: 0 auto;
    position: relative; }
    footer .non_profit a {
      color: #333333; }

.flex-container {
  max-width: 100%;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat center center; }

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none; }

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flexslider {
  margin: 0;
  padding: 0; }
  .flexslider .slides li {
    display: none;
    -webkit-backface-visibility: hidden;
    position: relative; }
  .flexslider .slides .slider_bg {
    width: 100%;
    display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

.no-js .slides > li:first-child {
  display: block; }

.flexslider {
  margin: 0px 0 40px;
  background: white;
  position: relative;
  height: 400px;
  overflow: hidden;
  zoom: 1;
  max-width: 100%; }
  .flexslider li {
    height: 400px; }
  .flexslider .slider1 {
    background: url(/img/slider0.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .flexslider .slider2 {
    background: url(/img/girl_banner.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .flexslider .slider3 {
    background: url(/img/slider5.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .flexslider .slider4 {
    background: url(/img/CityLaxGala_Slider.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    .flexslider .slider4 .flex-caption {
      bottom: 40%; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .flexslider {
      margin: 15px auto 25px;
      height: 300px; }
      .flexslider li {
        height: 300px; }
      .flexslider .slider1 .flex-caption {
        bottom: 10%;
        width: 70%;
        left: 15%; } }

.flex-viewport {
  max-height: 400px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1;
  height: 400px; }

.flex-direction-nav a {
  margin-top: -16px;
  outline: 0;
  width: 54px;
  height: 72px;
  display: block;
  position: absolute;
  top: 30%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .flex-direction-nav a {
      bottom: 30%;
      top: auto; } }
  @media only screen and (max-width: 450px) {
    .flex-direction-nav a {
      bottom: 5%;
      top: auto; } }
.flex-direction-nav .flex-next {
  right: 15px;
  background: url(../img/slider_arrows2.svg) no-repeat -53px 0; }
  .flex-direction-nav .flex-next:hover {
    right: 5px; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .flex-direction-nav .flex-next {
      right: 0;
      background: url(../img/slider_arrows2.svg) no-repeat -53px 0; } }
.flex-direction-nav .flex-prev {
  left: 15px;
  background: url(../img/slider_arrows2.svg) no-repeat 0 0; }
  .flex-direction-nav .flex-prev:hover {
    left: 5px; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .flex-direction-nav .flex-prev {
      left: 0;
      background: url(../img/slider_arrows2.svg) no-repeat 0 0; } }

.no-svg .flex-direction-nav .flex-next {
  background: url(../img/slider_arrows2.png) no-repeat -53px 0; }
.no-svg .flex-direction-nav .flex-prev {
  background: url(../img/slider_arrows2.png) no-repeat 0 0; }

.flex-direction-nav .flex-disabled {
  opacity: 0.3 !important;
  filter: alpha(opacity=30);
  cursor: default; }

.flex-control-nav {
  width: 100%;
  position: absolute;
  text-align: center;
  display: none; }
  .flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #999999;
  cursor: pointer;
  text-indent: -9999px; }
  .flex-control-paging li a:hover {
    background: #508ac8; }
  .flex-control-paging li a.flex-active {
    background: #508ac8;
    cursor: default; }

.flex-caption {
  position: absolute;
  width: 90%;
  max-width: 1170px;
  text-align: left;
  right: 0;
  bottom: 20px;
  z-index: 1;
  padding: 5px; }
  @media only screen and (max-width: 768px) {
    .flex-caption {
      bottom: 20%;
      top: auto; } }
  @media only screen and (max-width: 500px) {
    .flex-caption {
      bottom: 3%;
      top: auto; } }
  .flex-caption .vid_wrap {
    max-width: 600px;
    display: block; }
  .flex-caption p {
    margin: 5px auto; }
  .flex-caption h1 {
    margin: 5px auto;
    color: white; }
  .flex-caption .slider_cta {
    display: inline-block;
    padding: 5px 15px;
    border: 2px solid white;
    margin: 10px 0; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .flex-caption {
      bottom: 30%;
      text-align: center; }
      .flex-caption .slider_cta {
        margin: 5px 0; }
      .flex-caption h1 {
        margin: 5px auto; } }

.home_cta .grid3 {
  margin: 10px auto; }
  .home_cta .grid3 a {
    width: 80%;
    margin: 0 auto;
    display: block;
    border: 5px solid #333333;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .home_cta .grid3 a img {
      width: 100%; }
    .home_cta .grid3 a p {
      margin: -5px 0;
      padding: 7px 0;
      text-align: center;
      background: #333333;
      z-index: 3;
      position: relative;
      text-transform: uppercase;
      -webkit-transition: background 0.5s ease;
      -moz-transition: background 0.5s ease;
      transition: background 0.5s ease; }
    .home_cta .grid3 a:hover {
      -webkit-border-radius: 15px;
      border: 5px solid #508ac8; }
      .home_cta .grid3 a:hover p {
        background: #508ac8; }
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .home_cta {
    margin: 20px auto; } }

.impact_wrap {
  width: 100%;
  margin: 40px auto;
  padding: 40px 0;
  background: url(../img/impact_bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .impact_wrap section {
    background: #333333;
    background: rgba(0, 0, 0, 0.6); }
  .impact_wrap h3 {
    margin: 30px 20px;
    text-align: center;
    color: white;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300; }
    .impact_wrap h3 span {
      font-size: 50px;
      font-family: "Oswald";
      font-weight: 300; }

.share_newsletter {
  text-align: center; }
  .share_newsletter .share_wrap {
    height: 100%;
    margin-top: 15px; }
    .share_newsletter .share_wrap input[type="checkbox"] {
      display: none; }
    .share_newsletter .share_wrap .checkbox:checked + .label {
      color: #508ac8; }
    .share_newsletter .share_wrap .checkbox:checked ~ .social {
      opacity: 1;
      -webkit-transform: scale(1) translateY(-100px);
      -moz-transform: scale(1) translateY(-90px);
      -o-transform: scale(1) translateY(-90px);
      transform: scale(1) translateY(-90px);
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .share_newsletter .share_wrap .label {
      font-size: 40px;
      cursor: pointer;
      margin: 0;
      line-height: 24px;
      display: block;
      width: 100%;
      text-align: center;
      color: #dadada; }
      .share_newsletter .share_wrap .label p {
        padding: 10px 15px;
        background: #508ac8;
        border: 1px solid #999999;
        color: white;
        margin: 25px 0;
        text-transform: uppercase;
        font-family: "Oswald";
        font-size: 12px;
        letter-spacing: 2px;
        max-width: 150px;
        display: inline-block; }
    .share_newsletter .share_wrap .social {
      transform-origin: 50% 0%;
      -webkit-transform: scale(0) translateY(-100px);
      -moz-transform: scale(0) translateY(-100px);
      -o-transform: scale(0) translateY(-100px);
      transform: scale(0) translateY(-100px);
      opacity: 0; }
      .share_newsletter .share_wrap .social ul {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        color: white;
        height: 46px;
        width: 180px;
        background: #3b5998;
        padding: 0;
        list-style: none;
        bottom: -14px; }
      .share_newsletter .share_wrap .social ul li a {
        font-size: 20px;
        cursor: pointer;
        width: 60px;
        margin: 0;
        padding: 12px 0;
        text-align: center;
        float: left;
        display: block;
        height: 22px;
        color: white;
        background: transparent; }
      .share_newsletter .share_wrap .social ul li a:hover {
        color: rgba(0, 0, 0, 0.5); }
      .share_newsletter .share_wrap .social ul:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: 35px auto;
        height: 0;
        width: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #3b5998; }
      .share_newsletter .share_wrap .social li a.tweet {
        background: #6cdfea;
        padding: 12px 0; }
      .share_newsletter .share_wrap .social li a.mail_share {
        background: #999999;
        padding: 12px 0; }

.ie8 .flexslider .slider1, .ie8 .flexslider .slider2, .ie8 .flexslider .slider3, .ie8 .flexslider .slider4, .ie8 .impact_wrap {
  background-size: cover;
  -ms-behavior: url(/backgroundsize.min.htc); }

.ie8 .lax_parallax .travel_bg, .ie8 .lax_parallax .gear_bg, .ie8 .lax_parallax .mentorship_bg, .ie8 .lax_parallax .leadership_bg, .ie8 .lax_parallax .academic_bg {
  background-size: cover;
  -ms-behavior: url(/backgroundsize.min.htc); }

.ie8 .share .share_wrap .social, .no-csstransitions .share .share_wrap .social {
  display: block;
  position: relative;
  margin-top: -95px; }

.mission {
  margin: 50px auto 80px; }
  .mission .grid4 {
    text-align: left; }
    .mission .grid4 .opportunity_header {
      margin-top: 60px; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .mission {
      margin: 15px auto 80px; }
      .mission .grid4 .opportunity_header {
        margin-top: 20px; } }

.mission_grid {
  margin: 30px auto; }
  .mission_grid .grid4 img {
    padding: 0 20px; }
  .mission_grid .grid4 p {
    padding: 0 20px; }

[class*="entypo-"]:before {
  font-family: "entypo", sans-serif; }

.whylax_links {
  position: relative;
  display: block;
  width: 480px;
  height: 467px;
  margin: 0 auto;
  z-index: 2;
  -webkit-box-shadow: 0 12px 9px -9px #535353;
  -moz-box-shadow: 0 12px 9px -9px #535353;
  box-shadow: 0 12px 9px -9px #535353;
  border-bottom: 10px solid #508ac8;
  background: url(/img/whylax_center.jpg) no-repeat bottom center; }
  .whylax_links #whylax {
    position: absolute;
    margin: auto;
    top: 0;
    left: 190px;
    right: 0;
    width: 290px;
    height: 360px;
    cursor: pointer;
    text-align: center; }
    .whylax_links #whylax > a {
      position: absolute;
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #508ac8;
      -webkit-transition: bottom 0.5s ease-in-out, left 0.5s ease-in-out, background 0.3s ease, opacity 0.5s ease;
      -moz-transition: bottom 0.5s ease-in-out, left 0.5s ease-in-out, background 0.3s ease, opacity 0.5s ease;
      text-align: center;
      text-decoration: none;
      line-height: 50px;
      color: #ebeae8;
      z-index: 0;
      opacity: 1; }
      .whylax_links #whylax > a:hover {
        background: #333333; }
      .whylax_links #whylax > a:before {
        font-size: 30px;
        line-height: 2; }
      .whylax_links #whylax > a:after {
        font-family: "Oswald";
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 15px;
        left: 0; }
    .whylax_links #whylax .ico_travel {
      left: -238px;
      bottom: 77px; }
      .whylax_links #whylax .ico_travel:after {
        content: "travel"; }
    .whylax_links #whylax .ico_gear {
      left: -147px;
      bottom: 202px; }
      .whylax_links #whylax .ico_gear:after {
        content: "equipment"; }
    .whylax_links #whylax .ico_academic {
      left: 0;
      bottom: 250px; }
      .whylax_links #whylax .ico_academic:after {
        content: "academics"; }
    .whylax_links #whylax .ico_mentor {
      left: 147px;
      bottom: 202px; }
      .whylax_links #whylax .ico_mentor:after {
        content: "mentorship"; }
    .whylax_links #whylax .ico_leader {
      left: 238px;
      bottom: 77px; }
      .whylax_links #whylax .ico_leader:after {
        content: "leadership"; }
    .whylax_links #whylax .ico_in {
      left: 0;
      bottom: 0;
      opacity: 0; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .whylax_links {
      width: 100%;
      height: auto;
      margin: 20px auto 0;
      z-index: 2;
      border: none;
      background: none; }
      .whylax_links #whylax {
        position: relative;
        margin: auto;
        top: 0;
        left: 0;
        width: 100%;
        height: auto; }
        .whylax_links #whylax > a {
          position: relative;
          display: block;
          width: 100%;
          height: 100px;
          border-radius: 0; }
        .whylax_links #whylax .ico_travel, .whylax_links #whylax .ico_gear, .whylax_links #whylax .ico_academic, .whylax_links #whylax .ico_mentor, .whylax_links #whylax .ico_leader {
          top: 0;
          left: 0; }
        .whylax_links #whylax .ico_gear, .whylax_links #whylax .ico_mentor {
          background: #2664a7; } }

.lax_parallax {
  width: 100%;
  margin: 20px auto; }
  .lax_parallax .scroll_bg {
    height: 500px;
    width: 100%;
    position: relative; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .lax_parallax .scroll_bg {
        height: 300px; } }
  .lax_parallax .copy {
    padding: 80px 0;
    width: 100%;
    position: relative;
    text-align: center; }
    .lax_parallax .copy h2 {
      font-size: 26px;
      margin: 10px auto; }
    .lax_parallax .copy p {
      max-width: 600px;
      margin: 0 auto; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .lax_parallax .copy {
        padding: 40px 0;
        width: 90%;
        margin: 0 auto; } }
  .lax_parallax .travel_bg {
    background: url(/img/travel_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .lax_parallax .travel_bg {
        background: url(/img/travel_bg.jpg) no-repeat center center; } }
  .lax_parallax .gear_bg {
    background: url(/img/gear_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .lax_parallax .gear_bg {
        background: url(/img/gear_bg.jpg) no-repeat center center; } }
  .lax_parallax .mentorship_bg {
    background: url(/img/mentorship_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .lax_parallax .mentorship_bg {
        background: url(/img/mentorship_bg.jpg) no-repeat center center; } }
  .lax_parallax .leadership_bg {
    background: url(/img/leadership_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .lax_parallax .leadership_bg {
        background: url(/img/leadership_bg.jpg) no-repeat center center; } }
  .lax_parallax .academic_bg {
    background: url(/img/academic_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .lax_parallax .academic_bg {
        background: url(/img/academic_bg.jpg) no-repeat center center; } }

.touch .lax_parallax .travel_bg, .touch .lax_parallax .gear_bg, .touch .lax_parallax .mentorship_bg, .touch .lax_parallax .leadership_bg, .touch .lax_parallax .academic_bg {
  background-attachment: scroll; }

.people h1 {
  text-align: center; }
.people .grid3 .people_wrap {
  width: 90%;
  margin: 0 auto; }
  .people .grid3 .people_wrap img {
    width: 100%;
    max-width: 100%;
    margin-top: 15px; }
  .people .grid3 .people_wrap span {
    text-align: center;
    border: 2px solid #508ac8;
    color: #333333;
    padding: 15px 0;
    background: #efefef;
    display: block; }
    .people .grid3 .people_wrap span h5 {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 14px; }
.people .grid3 .quote {
  font-style: italic; }
.people .board_wrap {
  background: #efefef;
  padding: 20px 0 40px;
  margin: 25px auto;
  text-align: center; }
  .people .board_wrap .people_wrap {
    vertical-align: top;
    width: 260px;
    height: 260px;
    background: white;
    margin: 10px 10px 20px;
    display: inline-block; }
    .people .board_wrap .people_wrap img {
      width: 100%;
      max-width: 100%; }
    .people .board_wrap .people_wrap p {
      color: #333333;
      padding: 0 8px; }
.people .coaches {
  text-align: center;
  margin: 60px auto 40px; }

.get_involved .banner {
  width: 100%;
  background: url(/img/donate_banner.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px 0;
  color: white;
  background-position: center bottom; }
  .get_involved .banner h3 {
    width: 50%;
    font-size: 38px;
    font-weight: 100; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .get_involved .banner h3 {
        width: 100%;
        font-size: 24px; } }
  .get_involved .banner a {
    display: inline-block;
    margin-top: 20px; }
.get_involved .grid4 {
  text-align: right;
  padding-top: 50px; }

.involved_cta {
  margin: 20px auto; }
  .involved_cta .grid3 {
    padding: 30px 0;
    text-align: center; }
    .involved_cta .grid3 a {
      color: #333333;
      font-size: 18px;
      border: 2px solid #508ac8;
      width: 90%;
      padding: 25px 60px 25px 100px;
      line-height: 76px;
      width: 160px;
      position: relative;
      background: #efefef; }
      .involved_cta .grid3 a:before {
        font-size: 30px;
        color: white;
        background: #508ac8;
        position: absolute;
        width: 80px;
        border-right: 2px solid #508ac8;
        left: 0;
        padding: 25px 0px 22px 0px;
        -webkit-transition: background 0.3s ease;
        -moz-transition: background 0.3s ease;
        transition: background 0.3s ease; }
      .involved_cta .grid3 a:hover:before {
        background: transparent;
        color: #508ac8; }

#volunteer_events iframe {
  width: 100%;
  height: auto;
  min-height: 900px;
  font-family: "Open Sans", sans-serif; }
#volunteer_events .event_wrap {
  background: #efefef;
  color: #333333; }
  #volunteer_events .event_wrap h1, #volunteer_events .event_wrap a {
    margin: 20px 30px;
    display: block;
    color: #999999; }
  #volunteer_events .event_wrap h1 {
    color: #888888; }
  #volunteer_events .event_wrap a {
    margin: 60px auto;
    color: #333333; }
    #volunteer_events .event_wrap a p {
      line-height: 18px; }
    #volunteer_events .event_wrap a span {
      border: 2px solid #508ac8;
      color: #508ac8;
      padding: 5px 15px;
      margin: 10px 0 0;
      display: inline-block; }
    #volunteer_events .event_wrap a:hover span {
      background: #508ac8;
      color: white; }
    #volunteer_events .event_wrap a img {
      width: 100%;
      max-width: 100%; }
  #volunteer_events .event_wrap .contact {
    width: 100%;
    padding: 25px 0 10px;
    text-align: center;
    margin: 10px auto 0;
    background: white; }
    #volunteer_events .event_wrap .contact a {
      margin: 0; }
    #volunteer_events .event_wrap .contact ul {
      font-size: 14px; }
